#body{
  background-color: whitesmoke;
}

.container-fluid{
  width: 100%;
}

/* Pantalla de inicio */
#title1{
  color: #CB212D;
  text-align: center;
  margin-top: 15% ;
  font-size: 5em;
  font-family: 'Leckerli One', cursive;
}
#loading{
  text-align: center;
  width: 3em;
}


/*Pantalla principal de app*/
#pantallaApp{
  display: none;
  background-image: url();
  background-size: 100%;
}

/*Titulo de pagina*/
#title2{
  color: #CB212D;
  text-align: center;
  margin-top: 10%;
  font-family: 'Leckerli One', cursive;
  font-size: 3.5em;
  padding-top: 0;
}
#subtitle{
  color: sandybrown;
  text-align: center;
  margin: 1em;
}

/*Input de busqueda*/
#searchBox{
  width: 15em;
  position: center;
}

#mapTitle{
  text-align: center;
  color: #CB212D;
  font-family: 'Leckerli One', cursive;
}

#map{
  width:50vw; 
  height: 45vw;
}

.col-centrada{
  float: none;
  margin: 0 auto;
}

/*Input de busqueda en mapa*/

#pac-input{
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  width: 50%;
  margin-left: 25%;
}
.fa-search{
  color: sandybrown;
}





