#body{
  background-color: whitesmoke;
}

.container-fluid{
  width: 100%;
}

/* Pantalla de inicio */
#title{
  color: #CB212D;
  text-align: center;
  margin-top: 15% ;
  font-size: 4em;
  font-family: 'Leckerli One', cursive;
}
#loading{
  text-align: center;
  width: 3em;
}


/*Pantalla principal de app*/
#pantallaApp{
  display: none;
}

/*Titulo de pagina*/
#title2{
  color: #CB212D;
  text-align: center;
  margin-top: 10%;
  font-family: 'Leckerli One', cursive;
}

/*Input de busqueda*/
#searchBox{
  width: 10em;
  position: center;
}

#mapTitle{
  text-align: center;
  color: #CB212D;
  font-family: 'Leckerli One', cursive;
}

#map{
  width:450px; 
  height: 350px;
}





